{% macro btn(text, url, is_active, style = "primary") %}
    {%- if is_active %}
        <a href="{{ url }}" class="btn btn-{{ style }}">{{ text }}</a>
    {%- else %}
        <a href="{{ url }}" class="btn btn-link">{{ text }}</a>
    {%- endif %}
{% endmacro %}